/* App color palette */
:root {
  --frost: #E8E1DA;
  --midnight: #141631;
  --petal: #C3A4A0;
  --winter-berry: #8A4F62;
  --stone-castle: #8498A2;
}

body {
  margin: 0;
  background-color: var(--frost);
  color: var(--midnight);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
